@theme {
	--animate-typing-effect-16:
		typing 2s steps(16), cursor 0.4s step-end infinite alternate;
	--animate-typing-effect-9:
		typing 1.5s steps(9) 2s forwards, cursor 0.4s step-end infinite alternate;
	--animate-fade-in-to-right: fadeInToRight 0.8s ease-out;
	--animate-fade-in-to-left: fadeInToLeft 0.3s ease-out;
	--animate-spinner: spinner 0.6s ease-out infinite;
	--animate-fadeInUp: fadeInUp 0.3s forwards;
	--animate-shimmer: shimmer 1s linear infinite;
	--animate-skeleton: skeleton 1.5s linear infinite;
	--animate-matrix-fall-flicker: matrix-fall 2s infinite, matrix-flicker 0.5s infinite;
	--animate-matrix-pulse: matrix-pulse 2s infinite;

	@keyframes cursor {
		50% {
			border-color: transparent;
		}
	}

	@keyframes typing {
		from {
			width: 0;
		}

		to {
			width: 100%;
		}
	}

	@keyframes fadeInToRight {
		0% {
			opacity: 0;
			transform: translateX(-40px);
		}

		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes fadeInToLeft {
		0% {
			opacity: 0;
			transform: translateX(40px);
		}

		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes spinner {
		to {
			transform: rotate(360deg);
		}
	}

	@keyframes fadeInUp {
		from {
			opacity: 0;
			transform: translateY(5px);
		}

		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes skeleton {
		0% {
			background-color: #424242;
		}

		50% {
			background-color: #212121;
		}

		100% {
			background-color: #424242;
		}
	}

	@keyframes matrix-fall {
		0% {
			transform: translateY(-50px) rotateX(90deg);
			opacity: 0;
		}

		20%,
		80% {
			transform: translateY(0) rotateX(0deg);
			opacity: 0.8;
		}

		100% {
			transform: translateY(50px) rotateX(-90deg);
			opacity: 0;
		}
	}

	@keyframes matrix-flicker {

		0%,
		19%,
		21%,
		100% {
			opacity: 0.8;
		}

		20% {
			opacity: 0.2;
		}
	}

	@keyframes matrix-pulse {

		0%,
		100% {
			opacity: 0.3;
		}

		50% {
			opacity: 0.7;
		}
	}
}