@import 'tailwindcss';
@import './animations.css';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--font-sans: 'Roboto', sans-serif;
	--font-mono: 'Fira Code Variable', monospace;

	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

.dark {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}

.gradientColor {
	background: linear-gradient(to right, #D86587, #54ABF4);
	background-clip: text;
	font-weight: bold;
	font-size: 120%;
	color: transparent;
}

#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: #3b82f6;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
}